.wrapper {
  width: 48px;
  height: 48px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  animation: App-logo-spin infinite 1s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
