@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');

.App {
  text-align: center;
}

.page__wrapper {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.page {
  display: inline-block;
  background: #eeeeee;
  color: #767676;
  padding: 4px 8px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #767676;
}

.page:not(:last-child) {
  margin-right: 5px;
}

.page:hover {
  color: #323232;
  border: 1px solid #323232;
}

.page:disabled {
  color: #96919170;
  border: 1px solid #96919170;
  cursor: auto;
}

.page__current {
  color: #524e4e;
  border: 1px solid #524e4e;
  font-weight: bold;
}

.gallery-container {
  width: 100%;
  background: #fff;
  columns: 3;
  column-gap: 20px;
}

.gallery-container-wide {
  width: 100%;

  background: #fff;
  columns: 5;
  column-gap: 10px;
}

@media (max-width: 1050px) {
  .gallery-container-wide {
    columns: 3;
    column-gap: 10px;
  }
  .gallery-container {
    columns: 3;
    column-gap: 10px;
  }
}

@media (max-width: 600px) {
  .gallery-container-wide {
    columns: 1;
    column-gap: 10px;
  }
  .gallery-container {
    columns: 1;
    column-gap: 10px;
  }
}
